# Telegram Bot Token
BOT_TOKEN=your_telegram_bot_token_here

# Super Admin Telegram User IDs (separated by comma)
ADMIN_TELEGRAM_IDS=123456789

# Database Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/telegram_money_bot?schema=public"

# App Port
PORT=3000
